# Remove .html extension from URLs
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

# Redirect .html URLs to extension-less URLs
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^([^.]+)\.html$ /$1 [R=301,L]
